<% provide :title, t(".About") %>
<h1><%= t ".About" %></h1>
 <p>
  <%= t ".The" %><a href="http://www.railstutorial.org/"><em><%= t ".text" %></em></a><%= t ".text2" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a><%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencast series" %></a>
  <%= t ".to teach web development with" %>
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  <%= t ".This is the sample application for the tutorial" %>
 </p>
